*{
    box-sizing: border-box;
}
.parent{
    position: fixed; 
   right: 0;
   left: 0;
    top: 0;
    bottom: 0;
    width:100%;
    height: 50px;
    background-color: #112c02;
    padding: 10px;
    z-index: 2;
}
.itm{
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

.itm1{
    border: 2px solid #f5ac37;
    background-color: #f5ac37;
    width: 80px;
    height: 35px;
    border-radius: 30%;
    padding: 5px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
}

.itm2{
    border: 2px solid #f5ac37;
    background-color: #f5ac37;
    width: 80px;
    height: 35px;
    border-radius: 30%;
    padding: 5px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    top: 10px;
    left: 30px;
} 

.itm3{
    border: 2px solid #f5ac37;
    background-color: #f5ac37;
    width: 80px;
    height: 30px;
    border-radius: 30%;
    padding: 5px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
} 

.itm4{
    border: 2px solid #f5ac37;
    background-color: #f5ac37;
    width: 80px;
    height: 30px;
    border-radius: 30%;
    padding: 5px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
}

h1{
    margin-top: 60px;
    margin-bottom: 40px;
    border: 2px solid black;
    background-color: black;
    text-align: center;
    font-style: italic;
    color: aliceblue;

}
.sp1{
    color: rgb(70, 227, 70);
}

.im1{
    width: 100%;
    height: 450px;
    object-fit: cover;
margin-top: -22px;
}

.p1{
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
    border: 2px solid rgb(70, 227, 70);
   text-align: center;
   background-color: rgb(70, 227, 70);
   margin-top: 5px;
}

.container{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5px;
margin-left: auto;
    }

.div1{
    position: relative;
    border: 4px solid black;
    border-radius: 5%;
    width: 200px;
    height: 290px;
    background-color: black;
    
    }
    .img1{
    position: absolute;
    width: 100px;
    left: 40px;
    top: -3px;
    border: 1px solid black;
    border-radius: 5%;
    }
    .pra{
        position: absolute;
        top: 130px;
        left: 15px;
        font-size: 20px;
        color: black;
        font-style: italic;
        border: 4px solid rgb(70, 227, 70) ;
        background-color: rgb(70, 227, 70) ;
        border-radius: 8%;
        padding: 3px;
        color: black;
    }
    .spn1{
        color: black;
        position: absolute;
        top: 190px;
        left: 5px;
        color: aliceblue;
    }

    .div2{
        position: relative;
        border: 4px solid black;
        border-radius: 5%;
        width: 200px;
        height: 290px;
        background-color: black;
        
        }
        .img2{
        position: absolute;
        width: 110px;
        left: 40px;
        top: -3px;
        border: 1px solid black;
        border-radius: 5%;
        }
        .pra1{
            position: absolute;
            top: 130px;
            left: 15px;
            font-size: 20px;
            color: black;
            font-style: italic;
            border: 4px solid rgb(70, 227, 70) ;
            background-color: rgb(70, 227, 70) ;
            border-radius: 8%;
            padding: 3px;
            color: black;
        }
        .spn2{
            color: black;
            position: absolute;
            top: 190px;
            left: 5px;
            color: aliceblue;
        }

        .div3{
            position: relative;
            border: 4px solid black;
            border-radius: 5%;
            width: 200px;
            height: 290px;
            background-color: black;
            
            }
            .img3{
            position: absolute;
            width: 110px;
            height: 135px;
            left: 40px;
            top: -3px;
            border: 1px solid black;
            border-radius: 5%;
            }
            .pra2{
                position: absolute;
                top: 130px;
                left: 50px;
                font-size: 20px;
                color: black;
                font-style: italic;
                border: 4px solid rgb(70, 227, 70) ;
                background-color: rgb(70, 227, 70) ;
                border-radius: 8%;
                padding: 3px;
                color: black;
            }
            .spn3{
                color: black;
                position: absolute;
                top: 190px;
                left: 5px;
                color: aliceblue;
            }

            .div4{
                position: relative;
                border: 4px solid black;
                border-radius: 5%;
                width: 200px;
                height: 290px;
                background-color: black;
                
                }
                .img4{
                position: absolute;
                width: 100px;
                height: 130px;
                left: 40px;
                top: -3px;
                border: 1px solid black;
                border-radius: 5%;
                }
                .pra3{
                    position: absolute;
                    top: 130px;
                    left: 60px;
                    font-size: 20px;
                    color: black;
                    font-style: italic;
                    border: 4px solid rgb(70, 227, 70) ;
                    background-color: rgb(70, 227, 70) ;
                    border-radius: 8%;
                    padding: 3px;
                    color: black;
                }
                .spn4{
                    color: black;
                    position: absolute;
                    top: 190px;
                    left: 5px;
                    color: aliceblue;
                }

                .div5{
                    position: relative;
                    border: 4px solid black;
                    border-radius: 5%;
                    width: 200px;
                    height: 290px;
                    background-color: black;
                    
                    }
                    .img5{
                    position: absolute;
                    width: 100px;
                    height: 140px;
                    left: 40px;
                    top: -3px;
                    border: 1px solid black;
                    border-radius: 5%;
                    }
                    .pra4{
                        position: absolute;
                        top: 130px;
                        left: 50px;
                        font-size: 20px;
                        color: black;
                        font-style: italic;
                        border: 4px solid rgb(70, 227, 70) ;
                        background-color: rgb(70, 227, 70) ;
                        border-radius: 8%;
                        padding: 3px;
                        color: black;
                    }
                    .spn5{
                        color: black;
                        position: absolute;
                        top: 190px;
                        left: 5px;
                        color: aliceblue;
                    }

                    .div6{
                        position: relative;
                        border: 4px solid black;
                        border-radius: 5%;
                        width: 200px;
                        height: 290px;
                        background-color: black;
                        
                        }
                        .img6{
                        position: absolute;
                        width: 100px;
                        height: 140px;
                        left: 40px;
                        top: -3px;
                        border: 1px solid black;
                        border-radius: 5%;
                        }
                        .pra5{
                            position: absolute;
                            top: 130px;
                            left: 40px;
                            font-size: 20px;
                            color: black;
                            font-style: italic;
                            border: 4px solid rgb(70, 227, 70) ;
                            background-color: rgb(70, 227, 70) ;
                            border-radius: 8%;
                            padding: 3px;
                            color: black;
                        }
                        .spn6{
                            color: black;
                            position: absolute;
                            top: 190px;
                            left: 5px;
                            color: aliceblue;
                        }

                        .div7{
                            position: relative;
                            border: 4px solid black;
                            border-radius: 5%;
                            width: 200px;
                            height: 290px;
                            background-color: black;
                            
                            }
                            .img7{
                            position: absolute;
                            width: 100px;
                            height: 140px;
                            left: 40px;
                            top: -3px;
                            border: 1px solid black;
                            border-radius: 5%;
                            }
                            .pra6{
                                position: absolute;
                                top: 130px;
                                left: 15px;
                                font-size: 20px;
                                color: black;
                                font-style: italic;
                                border: 4px solid rgb(70, 227, 70) ;
                                background-color: rgb(70, 227, 70) ;
                                border-radius: 8%;
                                padding: 3px;
                                color: black;
                            }
                            .spn7{
                                color: black;
                                position: absolute;
                                top: 190px;
                                left: 5px;
                                color: aliceblue;
                            }

                            .div8{
                                position: relative;
                                border: 4px solid black;
                                border-radius: 5%;
                                width: 200px;
                                height: 290px;
                                background-color: black;
                                
                                }
                                .img8{
                                position: absolute;
                                width: 100px;
                                height: 140px;
                                left: 40px;
                                top: -3px;
                                border: 1px solid black;
                                border-radius: 5%;
                                }
                                .pra7{
                                    position: absolute;
                                    top: 130px;
                                    left: 40px;
                                    font-size: 20px;
                                    color: black;
                                    font-style: italic;
                                    border: 4px solid rgb(70, 227, 70) ;
                                    background-color: rgb(70, 227, 70) ;
                                    border-radius: 8%;
                                    padding: 3px;
                                    color: black;
                                }
                                .spn8{
                                    color: black;
                                    position: absolute;
                                    top: 190px;
                                    left: 5px;
                                    color: aliceblue;
                                }

                                .div9{
                                    position: relative;
                                    border: 4px solid black;
                                    border-radius: 5%;
                                    width: 200px;
                                    height: 290px;
                                    background-color: black;
                                    
                                    }
                                    .img9{
                                    position: absolute;
                                    width: 100px;
                                    height: 140px;
                                    left: 40px;
                                    top: -3px;
                                    border: 1px solid black;
                                    border-radius: 5%;
                                    }
                                    .pra8{
                                        position: absolute;
                                        top: 130px;
                                        left: 50px;
                                        font-size: 20px;
                                        color: black;
                                        font-style: italic;
                                        border: 4px solid rgb(70, 227, 70) ;
                                        background-color: rgb(70, 227, 70) ;
                                        border-radius: 8%;
                                        padding: 3px;
                                        color: black;
                                    }
                                    .spn9{
                                        color: black;
                                        position: absolute;
                                        top: 190px;
                                        left: 5px;
                                        color: aliceblue;
                                    }

                                    .div10{
                                        position: relative;
                                        border: 4px solid black;
                                        border-radius: 5%;
                                        width: 200px;
                                        height: 290px;
                                        background-color: black;
                                        
                                        }
                                        .img10{
                                        position: absolute;
                                        width: 100px;
                                        height: 140px;
                                        left: 40px;
                                        top: -3px;
                                        border: 1px solid black;
                                        border-radius: 5%;
                                        }
                                        .pra9{
                                            position: absolute;
                                            top: 130px;
                                            left: 40px;
                                            font-size: 20px;
                                            color: black;
                                            font-style: italic;
                                            border: 4px solid rgb(70, 227, 70) ;
                                            background-color: rgb(70, 227, 70) ;
                                            border-radius: 8%;
                                            padding: 3px;
                                            color: black;
                                        }
                                        .spn10{
                                            color: black;
                                            position: absolute;
                                            top: 190px;
                                            left: 5px;
                                            color: aliceblue;
                                        }

                                        .div11{
                                            position: relative;
                                            border: 4px solid black;
                                            border-radius: 5%;
                                            width: 200px;
                                            height: 290px;
                                            background-color: black;
                                            
                                            }
                                            .img11{
                                            position: absolute;
                                            width: 100px;
                                            height: 140px;
                                            left: 40px;
                                            top: -3px;
                                            border: 1px solid black;
                                            border-radius: 5%;
                                            }
                                            .pra10{
                                                position: absolute;
                                                top: 130px;
                                                left: 50px;
                                                font-size: 20px;
                                                color: black;
                                                font-style: italic;
                                                border: 4px solid rgb(70, 227, 70) ;
                                                background-color: rgb(70, 227, 70) ;
                                                border-radius: 8%;
                                                padding: 3px;
                                                color: black;
                                            }
                                            .spn11{
                                                color: black;
                                                position: absolute;
                                                top: 190px;
                                                left: 5px;
                                                color: aliceblue;
                                            }
                                            .sec1{
                                                font-size: 20px;
                                                font-weight: 30px;
                                               line-height: 32px;
                                               border: 3px solid black;
                                               padding: 5px;
                                               padding-left: 8px;
                                               background-color: rgb(36, 21, 21);
                                               border-radius: 0 5% 0 5%;
                                               margin: 20px auto;
                                               padding: 8px;
                                            }
                                    .s1{
                                        font-size: 20px;
                                        color: black;
                                        font-style: italic;
                                        border: 4px solid rgb(70, 227, 70) ;
                                        background-color: rgb(70, 227, 70) ;
                                        border-radius: 8%;
                                        padding: 3px;
                                        color: black;
                                    }
                                    p{
                                        color: aliceblue;
                                    }